@using Progress.Sitefinity.AspNetCore.Mvc.Rendering
@using VFL.Renderer.ViewModels.MyBillResetPassword

@model CustomMyBillResetPasswordViewModel

@{
    var lbls = Model.Labels;
}

<div data-sf-visibility-hidden="@Model.VisibilityClasses[Progress.Sitefinity.AspNetCore.Configuration.VisibilityStyle.Hidden]" data-sf-invalid="@Model.InvalidClass" class="card-body @(string.IsNullOrEmpty(Model.CssClass) ? null : Model.CssClass)" @Html.BuildAttributes(Model.Attributes)>
@if (Model.IsResetPasswordRequest)
{
    <div data-sf-role="sf-reset-password-container" class="authentication-cover">
        @if (Model.Error)
        {
            <div class="aunthentication-cover-content">
                <h2>@lbls.ResetPasswordHeader</h2>
                <div data-sf-role="error-message-container" class="alert alert-danger" role="alert" aria-live="assertive">@lbls.ErrorMessage</div>
            </div>
        }
        else
        {
            <script src="/scripts/MyBillWidgets/mybill-reset-password.js"></script>

            var newPasswordInputId = Html.GetUniqueId("sf-new-password-");
            var repeatPasswordInputId = Html.GetUniqueId("sf-repeat-password-");

            <div data-sf-role="form-container" class="aunthentication-cover-content">
                <h2 class="mb-3">@lbls.ResetPasswordHeader</h2>
                <div data-sf-role="error-message-container" id="errorMessage" class="alert alert-danger d-none my-3" role="alert" aria-live="assertive"></div>                    
                <form method="post" action="@Model.ResetUserPasswordHandlerPath" role="form" class="row gy-3">
                    <div class="col-xl-12">
                        <label for="@newPasswordInputId" class="form-label text-default op-8">@lbls.NewPasswordLabel</label>
                        <input id="@newPasswordInputId" type="password" class="form-control form-control-lg" name="password" data-sf-role="required">
                    </div>
                    <div class="col-xl-12 mb-2">
                        <label for="@repeatPasswordInputId" class="form-label text-default op-8">@lbls.RepeatNewPasswordLabel</label>
                        <input id="@repeatPasswordInputId" type="password" class="form-control form-control-lg" name="repeatPassword" data-sf-role="required">
                        <input type="hidden" name="verificationPageUrl" class="VerificationPageUrl" asp-for="VerificationPageUrl" value="@Model.VerificationPageUrl" />
                        <input type="hidden" name="username" asp-for="BAN" value="@Model.BAN" />
                        <input type="hidden" name="token" asp-for="Token" value="@Model.Token" />
                    </div>
                    <div class="col-xl-12 d-grid mt-2">
                        <input type="hidden" name="SecurityToken" value="@Context.Request.QueryString.Value" />
                        <input class="btn btn-lg vodafone-btn mt-1" type="submit" value="@lbls.SaveButtonLabel" />
                    </div>
                </form>
                <input type="hidden" name="ErrorMessage" value="@lbls.ErrorMessage" />
                <input type="hidden" name="AllFieldsAreRequiredErrorMessage" value="@lbls.AllFieldsAreRequiredErrorMessage" />
                <input type="hidden" name="PasswordsMismatchErrorMessage" value="@lbls.PasswordsMismatchErrorMessage" />
            </div>
            <div data-sf-role="success-message-container" class="aunthentication-cover-content d-none">
                <h2>@lbls.SuccessMessage</h2>
                @if (!string.IsNullOrEmpty(Model.LoginPageLink))
                {
                    <a href="@Model.LoginPageLink" class="text-decoration-none">@lbls.BackLinkLabel</a>
                }
            </div>
        }
    </div>
}
    else
    {
        <script src="/scripts/MyBillWidgets/mybill-forgotten-password.js"></script>
        
        var banInputId = Html.GetUniqueId("sf-ban-");
        <div data-sf-role="sf-forgotten-password-container" class="authentication-cover">
            <div data-sf-role="form-container" class="aunthentication-cover-content">
                <p class="h4 fw-semibold mb-2 text-center">@lbls.ForgottenPasswordHeader</p>
                <p class="mb-4 fw-normal text-center">Remember your password? <a href="@Model.LoginPageLink" class="text-primary text-decoration-underline fw-semibold">@lbls.BackLinkLabel</a></p>
                
                <div data-sf-role="error-message-container" class="alert alert-danger my-3 d-none" role="alert" aria-live="assertive"></div>
                
                <form action="@Model.SendResetPasswordEmailHandlerPath" role="form" novalidate class="row gy-3">
                    <div class="col-xl-12">
                        <label class="form-label text-default op-8" for="@banInputId">@lbls.EmailLabel</label>
                        <div class="input-group">
                            <input id="@banInputId" type="text" class="form-control form-control-lg" placeholder="BAN" name="ban" data-sf-role="required">
                            <input type="hidden" name="verificationPageUrl" class="VerificationPageUrl" asp-for="VerificationPageUrl" value="@Model.VerificationPageUrl" />
                        </div>
                    </div>

                    <div class="col-xl-12 d-grid mt-3">
                        <input class="btn btn-lg vodafone-btn mt-1" type="submit" value="@lbls.SendButtonLabel" />
                    </div>
                </form>

                <input type="hidden" name="InvalidBanFormatMessage" value="@lbls.InvalidEmailFormatMessage" />
                <input type="hidden" name="FieldIsRequiredMessage" value="@lbls.FieldIsRequiredMessage" />
            </div>
            <div data-sf-role="success-message-container" class="aunthentication-cover-content d-none mt-3">
                <p data-sf-role="sent-ban-label">@lbls.ForgottenPasswordSubmitMessage</p>
                <p>@lbls.ForgottenPasswordLinkMessage</p>
                <a href="/" class="btn btn-lg vodafone-btn mt-1">Home</a>
            </div>
        </div>
    }
</div>
