@using Progress.Sitefinity.AspNetCore.Mvc.Rendering
@using Progress.Sitefinity.RestSdk.Dto;

@model Progress.Sitefinity.AspNetCore.Widgets.Models.ContentList.ContentListViewModel
@{
    var imageCss = Model.GetFieldCss("Image");
    var titleCss = Model.GetFieldCss("Title");
    var textCss = Model.GetFieldCss("Text");
    var wrapperCss = Model.GetFieldCss("Content list");
}
<div class="card-container">

    @foreach (var item in Model.Items)
    {
        var image = Model.GetFirstRelatedMedia(item, "Image");
        var thumbnail = image != null ? image.GetThumbnail() : null;
        var title = Model.GetFieldValue<string>(item, "Title");
        var text = Model.GetFieldValue<string>(item, "Text");

        <div class="card">
            <img src='@image.Url' alt="Card Image" title='@(image.Title)' />
            <div class="card-content">
                <h3>@Html.HtmlSanitize(title)</h3>
                @if (text != null)
                {
                    <p class="card-text @(textCss)">@Html.HtmlSanitize(text)</p>
                }
            <a href="#">Find out more</a>
        </div>        
    </div>
}

</div>
@if (Model.Pager != null)
{
    <div class="mt-2">
        @await Html.PartialAsync("ContentPager", Model.Pager)
    </div>
}
